name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 13.x, 14.x, 15.x, 16.x]
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3.1.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Make build
        run: npm run build --if-present

      - name: Run tests
        run: npm test
