name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [0.12.x, 4.x, 6.x, 8.x, 12.x, 13.x, 14.x, 15.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run-script test
